<section>
  <h1>About Me &nbsp;&nbsp;<img src="/images/chrischris.jpg"/></h1>
  <p>
    <ul>
      <li><b>name:</b> Chris Christensen</li>
      <li><b>major:</b> <a href="http://lyle.smu.edu/cse/">Computer Engineering</a></li>
      <li><b>job:</b> <a href="http://www.allplayers.com/">allplayers.com</a></li>
    </ul>
  </p>
  <p>
    <ul>
      <li><a href="http://imetchrischris.com/Presentations">Presentations</a></li>
    </ul>
  </p>
  <p>
    <ul>
      <li><a href="http://imetchrischris.com/">imetchrischris.com</a>
      <li><a href="http://www.unserializer.com/">unserializer.com</a></li>
      <li><a href="http://minenet.org/">minenet.org</a></li>
      <li><a href="http://chrischris.org/">chrischris.org</a></li>
    </ul>
  </p>
  <p>
    <ul>
      <li><a href="http://en.gravatar.com/christianchristensen">gravatar/christianchristensen</a></li>
      <li><a href="http://www.google.com/s2/profiles/106480585690020700271#about">google/profiles/christianchristensen</a></li>
      <li><a href="http://github.com/christianchristensen">github/christianchristensen</a></li>
      <li><a href="http://drupal.org/user/595250">drupal/595250</a></li>
      <li><a href="http://code.google.com/u/christianchristensen/">code.google/u/christianchristensen</a></li>
      <li><a href="http://about.me/chrischris/">about.me/chrischris</a></li>
    </ul>
  </p>

</section>
