{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %}>
  <header>{% include header.html %}</header>
  <nav role=navigation>{% include navigation.html %}</nav>
  <div id="main">
    <div id="content">
      {{ content | expand_urls: root_url | backtick_codeblock | smart_quotes }}
    </div>
  </div>
  <footer>{% include footer.html %}</footer>
  <a href="http://github.com/christianchristensen"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 100;" src="https://d3nwyuy0nl342s.cloudfront.net/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub"></a>
</body>
</html>
